.search-padding {
  padding-top: 23px;
}

.main-search-min-height {
  min-height: 630px;
}

.sub-search-min-height {
  min-height: 307px;
}

.text-center {
  text-align: center;
}

.search-selected {
  background-color: lightgray;
}

.search-selected .search-result-box-article {
  background-color: lightgray;
}

.search-result-box:hover {
  background-color: #ececec;
  cursor: pointer;
}

.search-result-box:hover .search-result-box-article {
  background-color: #ececec;
  cursor: pointer;
}

.account-name {
  font-size: medium;
  text-decoration: underline;
  color: #7f8de1;
}

.right-panel-max-height {
  max-height: 200px;
  min-height: 200px;
}

.right-panel-margin {
  margin-right: -11px;
}

.search-result-max-height {
  max-height: 523px;
  min-height: 523px;
}

.password-table {
  border: solid black 1px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.password-table-cell-wrapper {
  border: solid black 1px;
  border-top: none;
  text-align: center;
}

.password-table-cell {
  border-right: solid black 1px;
}

@keyframes c-inline-spinner-kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-inline-spinner,
.c-inline-spinner:before {
  display: inline-block;
  width: 11px;
  height: 11px;
  transform-origin: 50%;
  border: 2px solid transparent;
  border-color: #74a8d0 #74a8d0 transparent transparent;
  border-radius: 50%;
  content: "";
  animation: linear c-inline-spinner-kf 900ms infinite;
  position: relative;
  vertical-align: inherit;
  line-height: inherit;
}
.c-inline-spinner {
  top: 3px;
  margin: 0 3px;
}
.c-inline-spinner:before {
  border-color: #74a8d0 #74a8d0 transparent transparent;
  position: absolute;
  left: -2px;
  top: -2px;
  border-style: solid;
}

.financial-account-loader {
  border-top: 16px solid #e9af67 !important;
}

.residence-loader {
  border-top: 16px solid #ef7ead !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #7f8de1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}